.mainwrapper {
  padding-top: 3%;
  padding-left: 15%;
  display: flex;
}

.wrapper1 {
  border: 1px solid white;
  width: 87%;
  height: 18vh;
  display: flex;
  background: white;
  margin-bottom: 5%;
  box-shadow: -3px 5px 5px 4px rgba(167, 182, 171, 0.75);
  -webkit-box-shadow: -3px 5px 5px 4px rgba(167, 182, 171, 0.75);
  -moz-box-shadow: -3px 5px 5px 4px rgba(167, 182, 171, 0.75);
}

.wrapper1:hover {
  background-color: #839ce6 ;
  cursor: pointer;
  transition: 0.7s ease-in-out;
}

.sub-wrapper1 {
  width: 46%;
}

.img2 {
  width: 51%;
  padding: 7%;
  opacity: 47%;
}

.img6 {
  width: 51%;
  padding: 7%;
  opacity: 47%;
}

.itenary {
  padding-left: 5%;
}

.item-quantity {
  font-size: 24px;
  padding-top: 13%;
  color: royalblue;
}

.sub-mainwrapper1 {
  /* width: 36%; */
}

.img3 {
  width: 30%;
  padding: 4%;
  opacity: 47%;
}

.img4 {
  width: 30%;
  padding: 4%;
  opacity: 47%;
}

.img5 {
  width: 30%;
  padding: 4%;
  opacity: 47%;
}

.wrapper2 {
  border: 1px solid white;
  width: 90%;
  height: 18vh;
  display: flex;
  background: white;
  margin-bottom: 5.5%;
  box-shadow: -3px 5px 5px 4px rgba(167, 182, 171, 0.75);
  -webkit-box-shadow: -3px 5px 5px 4px rgba(167, 182, 171, 0.75);
  -moz-box-shadow: -3px 5px 5px 4px rgba(167, 182, 171, 0.75);
}

.wrapper2:hover {
  background-color: #839ce6 ;
  cursor: pointer;
  transition: 0.7s ease-in-out;
}

.sub-wrapper2 {
  width: 78%;
}

h1.msg {
    margin-left: 17%;
    padding-top: 1%;
    font-size: 23px;
    color: royalblue;
}


@media screen and (max-width: 400px) {
  .mainwrapper {
   display: flex;
   flex-direction: column;
   padding-left: 36%;
  
  }

  .wrapper1{
    width: 125%;
    height: 12vh;
  }

  .wrapper2{
    width: 125%;
    height: 12vh;
  }
  h1.msg {
    margin-left: 36%;
  }
}

@media screen and (min-width: 402px)and (max-width: 430px) {
  .mainwrapper {
   display: flex;
   flex-direction: column;
   padding-left: 36%;
  
  }

  .wrapper1{
    width: 125%;
    height: 12vh;
  }

  .wrapper2{
    width: 125%;
    height: 12vh;
  }
  h1.msg {
    margin-left: 36%;
  }
}