.Medicals{
  border: 1px solid lightslategray;
  margin: 2%;
  height: auto;
}

.medicals {
  border: 1px solid lightslategray;
  margin: 2%;
}

.classification-desc{
 display: flex;
 justify-content: space-around;
 padding: 2%;
}

.approved{
 display: flex;
 justify-content: space-around;
 padding: 2%;
}

.charges-approved {
  width: 20%;
  max-height: 4vh;
}

.comment{
 display: flex;
 justify-content: space-around;
 padding: 2%;
}

